mulesoft/prophub-api/src/main/mule/experience/chat-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:os="http://www.mulesoft.org/schema/mule/os"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
        http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">

    <!-- ============================================ -->
    <!-- POST /chat/sessions                           -->
    <!-- Create a new chat session                     -->
    <!-- ============================================ -->
    <flow name="post:\chat\sessions:application\json:PropHub_API_Config">
        <logger level="INFO" message="Create chat session for contact: #[payload.contactId]" />

        <flow-ref name="process-validate-token" />

        <set-variable variableName="contactId" value="#[payload.contactId]" />
        <set-variable variableName="projectId" value="#[payload.projectId]" />
        <set-variable variableName="unitId" value="#[payload.unitId default null]" />

        <flow-ref name="process-create-chat-session" />
    </flow>

    <!-- ============================================ -->
    <!-- POST /chat/sessions/{sessionId}/messages       -->
    <!-- Send a message and receive agent response      -->
    <!-- ============================================ -->
    <flow name="post:\chat\sessions\(sessionId)\messages:application\json:PropHub_API_Config">
        <logger level="INFO" message="Chat message in session: #[attributes.uriParams.sessionId]" />

        <flow-ref name="process-validate-token" />

        <set-variable variableName="sessionId" value="#[attributes.uriParams.sessionId]" />
        <set-variable variableName="messageText" value="#[payload.text]" />
        <set-variable variableName="quickReplyValue" value="#[payload.quickReplyValue default null]" />

        <flow-ref name="process-chat-message" />
    </flow>

    <!-- ============================================ -->
    <!-- DELETE /chat/sessions/{sessionId}              -->
    <!-- End the chat session                          -->
    <!-- ============================================ -->
    <flow name="delete:\chat\sessions\(sessionId):PropHub_API_Config">
        <logger level="INFO" message="End chat session: #[attributes.uriParams.sessionId]" />

        <flow-ref name="process-validate-token" />

        <set-variable variableName="sessionId" value="#[attributes.uriParams.sessionId]" />

        <!-- Remove session from store -->
        <try>
            <os:remove key="#[vars.sessionId]" objectStore="Chat_Session_Store" />
            <error-handler>
                <on-error-continue type="OS:KEY_NOT_FOUND">
                    <logger level="DEBUG" message="Session already ended" />
                </on-error-continue>
            </error-handler>
        </try>

        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    message: "Chat session ended"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

</mule>
